#gameBoard{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;

    margin: auto;
    position: relative;
    width: 70vw;
    height: 90vh;

    border: 1px solid gray;
    border-radius: 25px;
    padding: 25px;
}

#player1{
    position: absolute;
    bottom: 5%;
    left: 30%;
    margin: auto;
    width: 50%;
}

#player2{
    position: absolute;
    left: 5%;
    bottom: 30%;
    margin: auto;
}

#player3{
    position: absolute;
    left: 30%;
    top: 5%;
    margin: auto;
}

#player4{
    position: absolute;
    right: 5%;
    bottom: 30%;
    margin: auto;
}

img{
    width: 75px;
    height: 90px;
    margin: 5px 5px;
}

#boardCentre{
    width: 75px;
    height: 90px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.imgHorizontal{
    transform: rotate(90deg);
    display: block;
}

.imgVertical{
    display: inline;
}

#topCard{
    max-height: 100%;
    max-width: 100%;
}

#deckTopCard{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 10;
    left: 10;
}