body{
    background-color: rgb(186, 253, 253);
}

#root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(241, 241, 241);

    margin: auto;
    width: 65%;
    height: 800px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px;
}

#title{
    margin: auto;
    padding: 10px;

    font-size: 50px;
    text-align: center;
}

#createLobby{
    float: left;
    margin-left: 80px;
    padding: 10px;
}

#joinLobby{
    float: right;
    margin-right: 80px;
    padding: 10px;
}